{% extends "Shop/shopbase.html" %}

{% load staticfiles filter_ext tag_ext %}

{% block main %}
    <div class="page-title category-title">
        <h1> {{ viewmodel.current.name }} </h1>
    </div>
    <div class="category-products">

    {% include 'Shop/toolbar.html' %}

    {% render_product_list viewmodel.curPage.object_list|new_list viewmodel.display_info.mode %}

    <div class="toolbar-bottom">
        {% include 'Shop/toolbar.html' %}
    </div>

    </div>
{% endblock %}