{% extends "base.html" %}

{% block mainContent %}
    <div class="main-container col2-left-layout">
        <div class="main">
            <div class="col-main">
                {% block main %} {% endblock %}
            </div>
            <div class="col-left sidebar">
                <div class="block block-cart">
                    <div class="block-title">
                        <strong><span>My Cart</span></strong>
                    </div>
                    <div class="block-content">
                        <p class="empty">
                            You have no items in your shopping cart.</p>
                    </div>
                </div>
                <div class="block block-banner">
                    <div class="block-content">
                        <a href="http://www.emthemes.com/demo/magento-theme-perfume-store-em0008/index.php/checkout/cart/"
                           title="Our customer service is available 24/7. Call us at (555) 555-0123.">
                            <img src="http://www.emthemes.com/demo/magento-theme-perfume-store-em0008/skin/frontend/em0008/default/images/media/col_left_callout.jpg"
                                 alt="Our customer service is available 24/7. Call us at (555) 555-0123.">
                        </a>
                    </div>
                </div>
                {% include 'Shop/block_tag.html' %}

                <div class="block block-subscribe">
                    <div class="block-title">
                        <strong><span>Newsletter</span></strong>
                    </div>
                    <form action="http://www.emthemes.com/demo/magento-theme-perfume-store-em0008/index.php/newsletter/subscriber/new/"
                          method="post" id="newsletter-validate-detail">
                        <div class="block-content">
                            <label for="newsletter">
                                Sign Up for Our Newsletter:</label>
                            <div class="input-box">
                                <input name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email"
                                       type="text">
                            </div>
                            <div class="actions">
                                <button type="submit" title="Subscribe" class="button">
                                    <span><span>Subscribe</span></span></button>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        //<![CDATA[
                        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
                        //]]>
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}